<hr>
<h2>{{ title }} inputs</h2>
<form>
    <textarea name="code" hidden>{{ code|e }}</textarea>
    <label for="symbol">Symbol: </label>
    <select name="symbol">
        {% for s in symbols %}
            <option value="{{s}}" {% if s == 'BITMEX:XBTUSD' %} selected {% endif %}>{{s}}</option>
        {% endfor %}
    </select>
    <label for="resolution">Tick: </label>
    <select name="resolution">
        {% for r,s in resolutions %}
            <option value="{{r}}" {% if r == 30 %} selected {% endif %}>{{s}}</option>
        {% endfor %}
    </select>

    {% for form in forms %}
        <br>
        <label for='{{ form.title }}'>{{ form.title }}: </label>
        {% if form.type == 'integer' or form.type == 'float' %}
            <input name='{{ form.title }}' value='{{ form.defval }}' type='number'
            min='{{ form.minval }}' max='{{ form.maxval }}' step='{{ form.step or 0.001 }}' required></input>
        {% elif form.type == 'source' %}
            <select name='{{ form.title }}'>
            {% for source in form.options %}
                <option value="{{ source }}" {% if source == form.defval %} selected {% endif %}>{{ source }}</option>
            {% endfor %}
            </select>
        {% elif form.type == 'string' %}
            {% if form.options %}
                <select name='{{ form.title }}'>
                {% for val in form.options %}
                    <option value="{{ val }}" {% if val == form.defval %} selected {% endif %}>{{ val }}</option>
                {% endfor %}
                </select>
            {% else %}
                <input name='{{ form.title }}' value='{{ form.defval }}'</input>
            {% endif %}
        {% elif form.type == 'bool' %}
            <input name='{{ form.title }}' value='{{ form.defval }}' type='checkbox'
             {% if form.defval %} checked {% endif %}></input>
        {% endif %}
    {% endfor %}
    <div style="padding-left: 16em">
        <button type="button">Run</button>
    </div>
</form>
